body {
  background-image: linear-gradient(#C1C8E4,#a7c4e6,#8ec1e7 ,#5AB9EA);
  margin:0;
  }
  .Header{
    /* background-image: linear-gradient(#5AB9EA, #C1C8E4); */
    background-color: #32174d;
  /* background-image: url("images/background.jpg");
  background-repeat: repeat; */
    margin:0%;
    left: 0;
    right: 0;
    display:block;
  }
.Header h1 {
  font-family: 'Pacifico', cursive;
  /* background: #5AB9EA; */
  margin: 0%;
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 80px;
}
.Header h2 {
  text-align: center;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #C1C8E4;
}
/* .Title {
  margin: 0%;
  color: white
} */
  h1, h2 {
    color:white;
    height: 41px;
    left: 0px;
    top: 0px;
    list-style: none;
  }
  .Navigation ul{
    margin: 0%;
    text-align: center;
  }

  img {
    width: 100%
  }

  .Navigation {
    margin: 0%;
    display: block;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  .Navigation li {
    display: block;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
  }
  .Navigation li a{
    color: #C1C8E4;
    text-decoration: none;
  }
  .Navigation li a:hover {
    text-decoration:underline;
  }
  
  p, .Answer ul{
    margin-top: 0%;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    /* background: #C1C8E4; */
  }

.Category, .card{
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    margin: 30px;
    background: white;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .Answer {
   border-top: 3px solid;
   border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  padding: 1rem;
}
.Category button, .Source button{
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 2px 12px 0 rgba(0,0,0,0.19);
  border-color: #32174d;
  background-color: #32174d;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.Category button:hover, .Source button:hover{
  cursor: pointer;
}
.Answer ul {
  text-align: left;
}
.Questions .Question p {
  font-size: 25px;
}

.Question button{
  /* font-size: 25px; */
  text-decoration: none; 
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size:4vw;
  width: 100%; 
  height: auto;
  font-weight: bold;
  color: #32174d;
}

.Question .btn-link.collapsed:before{
  content: '\2212'
  /* content:'\002B'; */
}
.Question .btn-link:before{
  content:'\002B';
  width: 35px;
  left: 25px;
  font-size:25px;
  font-size: 4vw;
  text-align: middle;
  /* top:31px;*/
  padding-right: 10px; 
  /* position: absolute; */ 
  
}


.Question .btn-link{
  text-decoration: none;
}

.Question button:hover {
  text-decoration: none; 
  color: #C1C8E4;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color:  #32174d;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid black;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
  font-family: 'Montserrat', sans-serif
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer{
  background-color: #32174d;
  margin:auto;
}
#myBtn {
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size:20px;
  text-align: center;
  margin:auto;
  background-color: #C1C8E4;
  border-color: black;
}
.foottxt {
  display:block;
  margin:auto;
  text-align:center;
  color: white;
  font-family: 'Montserrat', sans-serif
}
.butt{
  padding-bottom: 20px;
}

