body {
    background: #5AB9EA
    font-size: 60px;
  }
  
.Header h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  background: #5AB9EA;
}
  h1 {
    color: black;
    text-align: center;
    height: 41px;
    left: 0px;
    top: 0px;
    background: #5AB9EA;
    list-style: none;
    height: 80px;
  }
  .Navigation {
    background: #5AB9EA;
    display: block;
    height: 80px;

  }
  .Navigation li {
    text-align: center;
    display: block;
    color: white;
    display: inline-block;
    /* padding: 16px; */
    background: #5AB9EA;
    padding-left: 16px;
    padding-right: 16px;
  }
  .Navigation li a:hover {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  p {
    padding-top: 20px;
    font-family: verdana;
    font-size: 18px;
    background: #C1C8E4;
  }
.Categories {
    background: #C1C8E4;
}
.Category {
    /* padding: 16px; */
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}
